
* {
  font-family: "Lato", sans-serif;
}

body {
  background-image: url("../img/fundo-sm.webp");
  background-color: #f0ead2;
}

.bg-primary-color {
  background-color: #f0ead2;
}

.bg-secondary-color {
  background-color: #594539;
}

.bg-dark-color {
  background-color: #2a211b;
}

.primary-color {
  color: #594539;
}

.secondary-color {
  color: #f0ead2;
}

.subtitle {
  text-decoration: none;
}

/* NAVBAR */
#navbar {
  border-bottom: 1px solid #594539;
}

#navbar a {
  color: #f0ead2;
}

#navbar a:hover {
  color: #594539;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 150px;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}

#div-bemvindo,
#div-sobre {
  padding-top: 16em;
  min-height: 30em;
}

#div-sobre {
  padding-bottom: 2em;
}

/* FOOTER */
.endereco p {
  text-decoration: none;
}

span {
  color:#f0ead2;
}

span a {
  color:#f0ead2;
}

#footer {
  padding: 3em 2em;
  margin-bottom: 2em;
}

#footer,
#footer i {
  color: #f0ead2;
}

#social-icons a {
  text-decoration: none;
}

#social-icons i {
  margin-right: 0.8em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #242424;
} 

.copy-pedro {
  margin-top: 1.5em;
  font-size: .8em;
}

@media (min-width: 768px) {
  body {
    background-image: url("../img/fundo-md.webp");
  }

  .title {
    font-size: 2.4em;
  }

  .title:before {
    bottom: 1.5em;
  }

}
